.h2o-mobile-menu{
    position: fixed;
    top: var(--header-height);
    left: 0;
    z-index: 100;
    transform: translateX(-110%);
    transition: all 0.4s;
    width: 100%;
    max-width: 450px;
    background-color: rgba(var(--bg-h),1.0);
    height: calc(100% - var(--header-height));
    overflow-y: auto;
 
   &__wrapp{
    width: 100%;
    position: relative;
    display: flex;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .h2o-green-button{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
    }
   }
    
   
   &__box{
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
   } 
  
   .h2o-header-nav{
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 0;

    &__item{
        width: 100%;
    }
    &__link{
        text-transform: uppercase;
        color: rgba(var(--cl-a),1.0);
        padding: 12px 16px;
        width: 100%;
        font-size: 16px;
        background-color: rgba(var(--bg-h),1.0);
        border-color: var(--br-f) transparent var(--br-h);
        border-style: solid;
        border-width: 1px;
        height: 45px;
        padding: 8px;
        position: relative;
        transition: all .3s;

        &::before{
            display: none;
        }

        &:hover{
            background-color: rgba(var(--bg-l),1.0);
            border: 1px solid var(--br-i);
            &::after{
                opacity: 1;
            }
        }
    }
   }
   
    &.active {
        transform: translateX(0);
    }
}