.h2o-first-section{
    position: relative;
    padding-bottom:8px;
    background-color:  rgba(var(--bg-f),1.0);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }
}