.h2o-header{
  background: linear-gradient(180deg,#090a12 19.54%,rgba(9,10,18,.5) 122.22%);
  z-index: 90;
  position: fixed;
  margin: 0 auto;
  top: 0;
  max-width: var(--container-width);
  z-index: 90;
  border-bottom: 1px solid rgba(9,64,166,.302);
  width: 100%;
 

  &__box{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    position: relative;
    width: 100%;

    .h2o-header-nav{
      @include tablet{
          display: none;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    grid-gap: 16px;

    @include mobile{
      .h2o-green-button{
        display: none;
      }
    }
  }

  .h2o-logo {
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
    position: absolute;
  }

  .h2o-blue-button{
    i{
      display: none;
    }
    @include tablet{
      i{
        display: block;
      }
      font-size: 0;
      min-width: initial;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 0;
    }
  }

  &.sticky{
    background: rgba(var(--bg-f),1.0);
  }
}



