<footer>
  <div class="h2o-container">
    <div class="h2o-footer">
        <ul class="h2o-footer-info">
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-visa">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-piastrix">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-mir">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-money">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-wallet">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-btc">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-eth">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-novomatic">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-igrosoft">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-netent">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-egt">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-go">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-oaks">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-evoplay">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-ygg">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-year">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-norton">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-dmca">
            </span>
          </li>
          <li class="h2o-footer-info__item">
            <span class="h2o-footer-info__icon h2o-icon-ecogra">
            </span>
          </li>
        </ul>
      <div class="h2o-footer__bottom">

        <a href="index.html" class="h2o-logo h2o-icon-logo">
        </a>

        <a href="#" class="h2o-download-btn">
          <i class="h2o-icon-android"></i>
          <span class="h2o-download-btn__text">Скачай на<br><b>ANDROID</b></span>
        </a>

        <div class="h2o-footer__program">
          <p> Партнерская<br>программа</p>

          <span class="h2o-icon-program"></span>

        </div>
        <span class="h2o-footer__copyright">Игровой интернет клуб «Лев» © 2023. Клуб Лев – игровые автоматы
          онлайн.</span>
      </div>
    </div>
  </div>
</footer>