<header class="h2o-header">
  <div class="h2o-container">
    <div class="h2o-header__box">
      <button class="h2o-burger">
        <span class="h2o-burger__bg"></span>
        <span class="h2o-burger__line"></span>
      </button>
      <ul class="h2o-header-nav">
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-games"></i>Игры</a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-action"></i>Акции</a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-gift"></i>Бонусы</a>
        </li>
      </ul>
      <a href="index.html" class="h2o-logo h2o-icon-logo">
      </a>
      <div class="h2o-header__btns">
        <div class="h2o-registration-box">
          <span class="h2o-registration-box__icon h2o-icon-bonus"></span>
          <div class="h2o-registration-box__wrapp">
            <span class="h2o-registration-box__text h2o-registration-box__text--mode">Бонус 100%+ 50FS</span>
            <span class="h2o-registration-box__text">до 20 000 рублей</span>
          </div>
          <button class="h2o-api h2o-green-button"> Регистрация</button>
        </div>
        
        <button class="h2o-api h2o-blue-button"><i class="h2o-icon-login"></i>Войти</button>
      </div>
    </div>

    <div class="h2o-mobile-menu">
      <div class="h2o-mobile-menu__box">
        <div class="h2o-mobile-menu__wrapp">
          <img width='320' height='160' src='static/img/index/bg2.jpg' alt='image'>
          <button class="h2o-api h2o-green-button">Регистрация</button>
        </div>
        <ul class="h2o-header-nav">
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-games"></i>Игры</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-action"></i>Акции</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-gift"></i>Бонусы</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>