.h2o-info-card{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    padding: 1px;

    &::before, &::after{
        border-radius: 8px;
        width: 100%;
        content: '';
        position: absolute;
    }

    &::before{
        background: linear-gradient(0deg,#496395 3.05%,#102751 99.03%);
        inset: 0;
        z-index: -1;
    }

    &::after{
        background: rgba(var(--bg-f),1.0);
        height: 80%;
        width: calc(100% - 2px);
        left: 1px;
        bottom: 8px;
        z-index: -1;
    }

    &__title{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background: rgba(var(--bg-f),1.0);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(16px, 1.4706vw, 20px);
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
        font-family: var(--font-family2);
        color: rgba(var(--cl-a),1.0);
        padding: clamp(10px, 1.1029vw, 15px) 0;
    }

    &__box{
        padding: 5px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        background: linear-gradient(180deg,#1b2b49,#0b1b37);
        height: 71px; 
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;

        @include laptop{
            grid-gap: 15px;
            padding: 0 10px;
        }

        @include tablet{
            grid-gap: 25px;
            justify-items: center;
        }
    }

    &__subtitle{
        font-size: 11px;
        font-weight: 700;
        line-height: 14px;
        text-transform: uppercase;
        font-family: var(--font-family);
        color: rgba(var(--cl-c),1.0);
        text-align: center;
    }

    &__wrapp{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        grid-gap: 4px;

       @include small-tablet{
        justify-self: end;
       }
    }

    &__text{
        text-align: center;
        color: rgba(var(--cl-a),1.0);
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-align: center;
        font-family: var(--font-family);
        text-transform: uppercase;
        display: flex;
        flex-direction: column;

        b{
            font-family: var(--font-family);
            color: rgba(var(--cl-c),1.0);
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            text-transform: none;
        }
    }

    &__image{
        height: 192px;
        width: 100%;
        img{
            
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @include mobile{
            height: 152px;
        }
    }

    .h2o-main-button{
        margin-left: 14px;
        max-width: 166px;
        width: 100%;
        height: 40px;

        @include laptop{
            margin-left: 0;
        }

        @include small-tablet{
            justify-self: start;
        }
    }
}