// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
:root {
// --------------- default global variable ---------------
  --body-bg: #121526;
  --body-font-size: 16px;
  --content-width: 1328px;
  --container-offset: 16px;

  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  // --------------- default JS variable ---------------
  --header-height: 70px;

// --------------- default scroll variable ---------------
  --scrollbar-thumb: #0f2248;
  --scrollbar-track:  #202020;
  --scrollbar-track-hover: #202020;
  --overlay-bg: rgba(0, 0, 0, 0.5);

// --------------- default font-family variable ---------------
  --font-family: "Arial" , sans-serif; // var(--font-family);
  --font-family2: "OpenSans" , sans-serif; // var(--font-family2);

// --------------- default text color variable ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  --cl-c: #{HexToRGB(#8893a8)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#ffc400)}; // rgba(var(--cl-d),1.0);
  --cl-e: #{HexToRGB(#a8bee6)}; // rgba(var(--cl-e),1.0);
  --cl-f: #{HexToRGB(#898d99)}; // rgba(var(--cl-f),1.0);
  --cl-g: #{HexToRGB(#454f60)}; // rgba(var(--cl-g),1.0);
  --cl-h: #{HexToRGB(#dbc17d)}; // rgba(var(--cl-h),1.0);
  --cl-i: #{HexToRGB(#32a2f4)}; // rgba(var(--cl-i),1.0);
  --cl-j: #{HexToRGB(#def0ff)}; // rgba(var(--cl-j),1.0);

// --------------- default background color variable ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
  --bg-c: #{HexToRGB(#16346b)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#0940a6)}; // rgba(var(--bg-d),1.0);
  --bg-e: #{HexToRGB(#0f2248)}; // rgba(var(--bg-e),1.0);
  --bg-f: #{HexToRGB(#121526)}; // rgba(var(--bg-f),1.0);
  --bg-g: #{HexToRGB(#a8bee6)}; // rgba(var(--bg-g),1.0);
  --bg-h: #{HexToRGB(#112852)}; // rgba(var(--bg-h),1.0);
  --bg-i: #{HexToRGB(#0e2348)}; // rgba(var(--bg-i),1.0);
  --bg-j: #{HexToRGB(#af0000)}; // rgba(var(--bg-j),1.0);
  --bg-k: #{HexToRGB(#fd2525)}; // rgba(var(--bg-k),1.0);
  --bg-l: #{HexToRGB(#00498e)}; // rgba(var(--bg-l),1.0);


// --------------- default border color color variable ---------------
  --br-a: #1cd7fe; // var(--br-a);
  --br-b: #00568e; // var(--br-b);
  --br-c: #fff; // var(--br-c);
  --br-d: #595959; // var(--br-d);
  --br-e: #292c3c; // var(--br-e);
  --br-f: #35486c; // var(--br-f);
  --br-g: #ffc400; // var(--br-g);
  --br-h: #040a15; // var(--br-h);
  --br-i: #32a2f4; // var(--br-i);
  --br-j: #0940a64d; // var(--br-j);
// -------------
}


